/bin/
target/

/.idea/
*.iml

/.settings/
.classpath
.project
.factorypath

/.vscode/
/servers/
/logs/

# macOS metadata
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle
.kotlin/

# Ignore Gradle build output directory
build
