/bin/
target/

/.idea/
*.iml

/.settings/
.classpath
.project
.factorypath

/.vscode/
/servers/
/logs/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
